[submodule "MU_BASECORE"]
	path = MU_BASECORE
	url = https://github.com/microsoft/mu_basecore.git
	branch = release/202202
[submodule "Common/MU_TIANO"]
	path = Common/MU_TIANO
	url = https://github.com/microsoft/mu_tiano_plus.git
	branch = release/202202
[submodule "Common/MU"]
	path = Common/MU
	url = https://github.com/microsoft/mu_plus.git
	branch = release/202202
[submodule "Common/MU_OEM_SAMPLE"]
	path = Common/MU_OEM_SAMPLE
	url = https://github.com/microsoft/mu_oem_sample.git
	branch = release/202202
[submodule "Common/PRM"]
	path = Common/PRM
	url = https://github.com/tianocore/edk2-staging.git
	branch = PlatformRuntimeMechanism
[submodule "SBManage"]
	path = SBManage
	url = https://brbarkel@dev.azure.com/brbarkel/Rust/_git/secure-boot-manager
