# 
# GitHub Action Workflow for building the UEFI debugger extension.
#
# Copyright (c) Microsoft Corporation
# 
# SPDX-License-Identifier: BSD-2-Clause-Patent
#

name: "Build UEFI Debug Extension"

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'UefiDbgExt/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'UefiDbgExt/**'

jobs:
  build:
    strategy:
      fail-fast: false 
      matrix:
        configuration: [Debug, Release]
        platform: [x64]
    runs-on: windows-2022
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      
      - name: Setup MsBuild
        uses: microsoft/setup-msbuild@v1.1
      
      - name: Build
        run: msbuild UefiDbgExt\uefiext.vcxproj -property:Configuration=${{ matrix.configuration }} -property:Platform=${{ matrix.platform }}
      
      - name: Publish Binary
        if: ${{ matrix.configuration == 'Release' && github.event_name == 'push' }}
        uses: actions/upload-artifact@v3
        with:
          name: UefiDbgExt-${{ matrix.platform }}-${{ matrix.configuration }}
          path: UefiDbgExt\${{ matrix.platform }}\${{ matrix.configuration }}\uefiext.dll
